# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
venv_new/
